/* Table Container */
.table-wrapper {
  max-width: 50rem;
  margin: 1rem auto;
  background-color: #f9f9f9;
}
  
.table {
  border-collapse: collapse;
}

th {
 color: #f9f9f9;
  background-color: rgb(77, 26, 124);
  padding: 0.6rem;
  text-align: center;
  font-size: 0.8rem;
}

td {
  padding: 0.4rem;
  text-align: center;
  border-bottom: 0.1rem solid #ddd;
  font-size: 0.7rem;
}

tr:hover {
  background-color: #f1f1f1;
}

.tableBtn {
  background-color: black;
  color: white;
  padding: 0.4rem 0.6rem;
  margin: 0.2rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(77, 26, 124);
}

input[type="text"] {
  padding: 0.5rem;
  width: 80%;
  border: 0.2rem solid #ccc;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

input[type="text"]:focus {
  border-color: rgb(77, 26, 124);
  outline: none;
}
