.card {
    display: inline-block;
    padding: 3rem;
    background-color: #222;
    border: 2px solid #444;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 20rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    margin-bottom: 2rem;
    color: #888;
    perspective: 60rem;
  }
  
  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.8);
  }
  
  .card--flipped .card__inner {
    transform: rotateY(180deg); 
  }
  
   .card__inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
  }
  
  .card__front,
  .card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card__back {
    transform: rotateY(180deg);
  }
  
  .card__transcription {
    font-style: italic;
    color: #666;
  }
  
  @media screen and (max-width: 768px) {
    .card {
      width: 15rem; 
      padding: 2rem; 
    }
  }
  
  @media screen and (max-width: 480px) {
    .card {
      width: 12rem; 
      padding: 1.5rem;
    }
  }
  