.cards-section {
    margin: 3rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow:0 1rem 2rem rgba(0, 0, 0, 0.1);
    min-width: 50%;
  }
  
  .cards-section h1 {
    color: #333;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .card-swiper {
    display: flex;
    justify-content: center;
    gap: 3rem;
    position: relative;
  }
    
  .progress {
    margin-top: 3rem;
    text-align: center;
    color: #555;
    font-size: 0.7rem;
  }
  
  .card {
    display: inline-block;
    padding: 2rem;
    background-color: #f1f1f1;
    border: 0.2rem solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.05);
    text-align: center;
    width: 18rem;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);  

  }
  .cardBtn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #4d1a7c;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cardBtn:hover {
    background-color: #5f2b9c;
  
