.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #444;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  padding: 0.5rem;
  z-index: 1000;
}

@media (max-width: 1200px) {
  .header {
    padding: 1rem 1.5rem;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 0.8rem 1rem;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0.6rem 1rem;
  }
}
